venv/                  
__pycache__            
*.py[cod]              
*.pyo                  

.env                   
.env.*                 

*.sqlite3              
*.log                  
*.bak                  
*.tmp                  
